<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>FMR</string>
	<key>connections</key>
	<dict>
		<key>2726874B-EA72-4AE7-B557-0E6586D5E324</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B0F85AB5-FA10-4F7C-8A70-F495E7334DBF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2827BA8B-1DE0-4A10-9916-33628B1BA2A0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4009581A-9AF2-4E94-8FEC-3B9236660F5D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string>FINN</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9060D04E-5A3F-42FB-AAE6-0ECB261E6A81</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>DBA</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DF6C3476-782E-45EF-A3F8-1E3BA152BE47</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>TORI</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3F0E8E26-D75A-4C9C-9AD9-7A170700A4E4</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>BLOCKET</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3165036A-A20D-41FF-AA1F-6AD67094902F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>81C61094-C020-4586-B618-11B082662949</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>53CCCFE2-7C7B-4BDD-BC7A-70B2AB604416</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>81C61094-C020-4586-B618-11B082662949</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6CE90EBE-FB0D-47B8-92A2-3A613F697887</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>81C61094-C020-4586-B618-11B082662949</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>72BD4814-5820-4D51-A718-CA45E807020D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DF133716-5860-48E3-BA42-8DC7E8A9E104</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>81C61094-C020-4586-B618-11B082662949</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CE160731-7CEF-4FDD-9937-8C19F6C0D0AA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>95FE39D6-DB7D-46B7-BF2B-E9A6BE5BD2EB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DF133716-5860-48E3-BA42-8DC7E8A9E104</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CE160731-7CEF-4FDD-9937-8C19F6C0D0AA</key>
		<array/>
		<key>DF133716-5860-48E3-BA42-8DC7E8A9E104</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CE160731-7CEF-4FDD-9937-8C19F6C0D0AA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Fredrik Rødland</string>
	<key>description</key>
	<string>navigate through apps</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>0_FMR_VEND</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>g</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Reading Github</string>
				<key>script</key>
				<string># old url from search - is really pretty broken by now.
#curl -q -s "https://search-dash-back.svc.prod.finn.no/search/internal-backstage/apps?alfred=1&amp;default=github"

curl -q -s "$FRAUD_DASH_URL/alfred/fraud-repos?include_search=true"

</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Get FINN Github</string>
				<key>title</key>
				<string>Get FINN Github</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>53CCCFE2-7C7B-4BDD-BC7A-70B2AB604416</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>b</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Reading Builds</string>
				<key>script</key>
				<string>curl -q -s "$FRAUD_DASH_URL/alfred/fraud-repos?include_search=true&amp;main_link=builds"
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Get FINN Builds</string>
				<key>title</key>
				<string>Get FINN Builds</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3165036A-A20D-41FF-AA1F-6AD67094902F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>h</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Reading Humio Logs</string>
				<key>script</key>
				<string>curl -q -s "$FRAUD_DASH_URL/alfred/fraud-repos?include_search=true&amp;main_link=humio"
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Get Humio Logs</string>
				<key>title</key>
				<string>Get Humio Logs</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6CE90EBE-FB0D-47B8-92A2-3A613F697887</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<true/>
				<key>skipvarencode</key>
				<true/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>CE160731-7CEF-4FDD-9937-8C19F6C0D0AA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>81C61094-C020-4586-B618-11B082662949</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>DF133716-5860-48E3-BA42-8DC7E8A9E104</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>a</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Reading Apps</string>
				<key>script</key>
				<string># curl -q -s "$FRAUD_DASH_URL/alfred/apps"
cat apps.json</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Get App</string>
				<key>title</key>
				<string>Get App</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>72BD4814-5820-4D51-A718-CA45E807020D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>s</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading channels</string>
				<key>script</key>
				<string>#echo ${FRAUD_DASH_URL}
#echo $FRAUD_DASH_URL
#echo "$FRAUD_DASH_LOCAL_URL/alfred/slack" &gt;&amp;2
#curl -q -s "$FRAUD_DASH_LOCAL_URL/alfred/slack"
cat slack.json</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Slack Someone</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>95FE39D6-DB7D-46B7-BF2B-E9A6BE5BD2EB</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>B0F85AB5-FA10-4F7C-8A70-F495E7334DBF</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>63</integer>
				<key>keyword</key>
				<string>loginid</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Reading finn Loginid</string>
				<key>script</key>
				<string>query="{query}"
hei=`curl --connect-timeout 1 -q -s "$SEARCH_DASH_LOGIN_URL?alfred=true&amp;input=$query"`
if [ $? -eq 0 ]; then
    echo $hei
else
   cat fmr.json
fi
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Get your FINN loginid</string>
				<key>title</key>
				<string>Get FINN loginid</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2726874B-EA72-4AE7-B557-0E6586D5E324</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://es-moderation-ad.svc.prod.finn.no/ad-*/_search?q=ad.adId:{query}&amp;size=1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>4009581A-9AF2-4E94-8FEC-3B9236660F5D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://es-platform-moderation.platform-es.dba.dk:9200/ad-*/_search?q=ad.adId:{query}&amp;size=1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>9060D04E-5A3F-42FB-AAE6-0ECB261E6A81</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>fraud</string>
				<key>subtext</key>
				<string>FINN</string>
				<key>text</key>
				<string>Fraud ES</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2827BA8B-1DE0-4A10-9916-33628B1BA2A0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://fraud.es.beta.tori.fi:9200/ad-*/_search?q=ad.adId:{query}&amp;size=1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>DF6C3476-782E-45EF-A3F8-1E3BA152BE47</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://es-platform-moderation.platform-es.blocket.se:9200/ad-*/_search?q=ad.adId:{query}&amp;size=1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>3F0E8E26-D75A-4C9C-9AD9-7A170700A4E4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2726874B-EA72-4AE7-B557-0E6586D5E324</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>645</real>
		</dict>
		<key>2827BA8B-1DE0-4A10-9916-33628B1BA2A0</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>910</real>
		</dict>
		<key>3165036A-A20D-41FF-AA1F-6AD67094902F</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>3F0E8E26-D75A-4C9C-9AD9-7A170700A4E4</key>
		<dict>
			<key>xpos</key>
			<real>420</real>
			<key>ypos</key>
			<real>1095</real>
		</dict>
		<key>4009581A-9AF2-4E94-8FEC-3B9236660F5D</key>
		<dict>
			<key>xpos</key>
			<real>420</real>
			<key>ypos</key>
			<real>750</real>
		</dict>
		<key>53CCCFE2-7C7B-4BDD-BC7A-70B2AB604416</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>6CE90EBE-FB0D-47B8-92A2-3A613F697887</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>72BD4814-5820-4D51-A718-CA45E807020D</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>405</real>
		</dict>
		<key>81C61094-C020-4586-B618-11B082662949</key>
		<dict>
			<key>xpos</key>
			<real>505</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>9060D04E-5A3F-42FB-AAE6-0ECB261E6A81</key>
		<dict>
			<key>xpos</key>
			<real>420</real>
			<key>ypos</key>
			<real>865</real>
		</dict>
		<key>95FE39D6-DB7D-46B7-BF2B-E9A6BE5BD2EB</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>B0F85AB5-FA10-4F7C-8A70-F495E7334DBF</key>
		<dict>
			<key>xpos</key>
			<real>205</real>
			<key>ypos</key>
			<real>645</real>
		</dict>
		<key>CE160731-7CEF-4FDD-9937-8C19F6C0D0AA</key>
		<dict>
			<key>xpos</key>
			<real>605</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>DF133716-5860-48E3-BA42-8DC7E8A9E104</key>
		<dict>
			<key>xpos</key>
			<real>505</real>
			<key>ypos</key>
			<real>375</real>
		</dict>
		<key>DF6C3476-782E-45EF-A3F8-1E3BA152BE47</key>
		<dict>
			<key>xpos</key>
			<real>420</real>
			<key>ypos</key>
			<real>980</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>FRAUD_DASH_LOCAL_URL</key>
		<string>http://local.finn.no:8080</string>
		<key>FRAUD_DASH_URL</key>
		<string>https://fraud-dash.svc.prod.finn.no</string>
		<key>SEARCH_DASH_LOGIN_URL</key>
		<string>https://search-dash-back.svc.prod.finn.no/search/internal-backstage/login</string>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>rodland.no</string>
</dict>
</plist>
